h1{
    text-align: center; 
    color: red
}
#test{
    font-style: italic;
    color: green;
}
p{
    color:blue;
}

.vip{
    color: cyan;
}
.super__vip{
    color: lawngreen;
}
ul.a li{
    color: indigo;
}
ul.b li{
    color: rgb(208, 243, 11);
}

div#aaa.bbb.ccc ul#qqq.www.eee li.hhh.yyy span#yyy.uuu em.ooo{
    
}